<style>
  .wellcome {
    background-image: url("../images/wellcome.png");
    background-attachment: fixed;
    background-position: center;
  }
</style>
<div class="wellcome">
  <div class="row heading"></div>
  <div class="row message" id="conversation">

  </div>
</div>