.add-user{font-size: 36px;cursor: pointer}
.my-modal{height: auto}
#add-friend{cursor: pointer}
.logout{
    list-style: none;
    z-index: 99999;
    position: absolute;
    width: 50%;
    top: 41px;
    right: 20px;
    background: #ffffff;
    border-radius: 7px;
    display: none;
}
.logout li{    
    cursor: pointer;
    border-bottom: 1px dashed;
}
.logout li:hover{color: red}
.search{display: none}